.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.Rbuildignore
.DS_Store
inst/.DS_Store
src/*.dll
src/*.o
src/*.so
EP_Cesar
inst/extdata/bams/refseq_hg19.formatted.gtf
bamInfoSamples.txt
reportCount.txt
reportPrediction.txt
vignettes/bamInfoSamples.txt
vignettes/paths_RNASeq.txt
vignettes/reportPrediction.txt
vignettes/paths_RNASeq.gtf
compare_files.ps1
compare_next.ps1